@font-face {
  font-family: GintoNord;
  font-weight: 700;
  src: url(./fonts/Ginto-Nord/Ginto-Nord-700.woff2) format("woff2"),
    url(./fonts/Ginto-Nord/Ginto-Nord-700.woff) format("woff");
}

@import "tailwindcss";

@theme {
  --font-Ginto-Nord: GintoNord, sans-serif;
}